*{
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: teal;
}

.bg-grey{
  background-color: lightgray;
}

.container > div{
  border: 1px solid black;
}


/******************************************** STILE DELL'ASIDE *****************************************/
.aside{
  min-height: 600px;
  padding: 0px;
}

.aside-header{
  min-height: 60px;
  border: 1px solid grey;
  background-color: bisque;
}

.round-image{
  padding: 6px;
  width: 60px;
  border-radius: 999px;
}

.notifications{
  background-color: cyan;
  min-height: 70px;
}

.fa-bell-slash{
  margin-left: 20px;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 999px;
}

.notifications>div> h3 {
  font-size: 16px;
  margin: 0px;
}
.notifications>div> p {
  font-size: 13px;
  margin: 0px;
}

.search-bar{
  padding: 5px;
}

.profile-spec>h3{
  font-size: 20px
}

.profile-spec>p{
  font-size: 12px
}

.profile-spec>h3,p{
  margin: 0;
}



/******************************************** STILE DEL MAIN *****************************************/

.main{
  min-height: 600px;
  padding: 0px;
}

.main-header{
  min-height: 60px;
  border: 1px solid grey;
  background-color: bisque;
}