<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://kit.fontawesome.com/b3bcdb02ea.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/app.css">
  <title>BOOLZAP</title>
</head>

<body>

  <section id="app">
    
    <div class="container pt-3"> <!--container-->
      <div class="row"> <!--riga per dFLEX-->

        <!--aside (contacts)----------------------------------------------------------------->
        <div class="col-4 aside bg-white">

          <!--header-->
          <section class="aside-header d-flex justify-content-between align-items-center">
            <div class="my-profile">
              <img class="round-image" src="./img/img.me.jpg" alt="">
              <span class="my-name">Gabriele</span>
            </div>

            <div class="settings pe-2">
              <button>
                <i class="fa-solid fa-circle-notch"></i>
              </button>
              <button>
                <i class="fa-solid fa-message"></i>
              </button>
              <button>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
            </div>
          </section>

          <!--navbar -->
          <section class="aside-navbar">

            <div class="notifications d-flex justify-content-start align-items-center gap-3">
              <i class="fa-solid fa-bell-slash"></i>
              <div>
                <h3>Ricevi notifiche di nuovi messaggi</h3>
                <p>Attiva notifiche desktop</p>
              </div>
            </div>
            
            <!--chat search -->
            <div class="search-bar input-group my-1">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
              <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="" aria-describedby="basic-addon1">
            </div>
            
          </section>

          <!--aside content-->
          <section class="aside-content">

            <!--profilo singolo della persona-->
            <div v-for="(contact,index) in contacts" @click="setCurrentContact(index)" class="contact-profile d-flex gap-2">
              
              <div class="profile-img">
                <img class="round-image" :src="contact.avatar" alt="">
              </div>

              <div class="profile-spec">
                <h3>{{contact.name}}</h3>
                <p>{{contact.messages[2].message}}</p> <!--sono risucito ad entrare nell'array!-->
              </div>
            </div>
            <!--fine profilo singolo-->
            

          </section>


        </div>



        <!-------------main (chat)------------------------------------------------->
        <div class="col-8 main bg-grey">

          <!--header-->
          <section class="main-header d-flex justify-content-between align-items-center">
            

            <!-----profilo corrente chat -->
            <div class="contact-profile2 d-flex gap-2 p-0 align-items-center border border-0">
              
              <div class="profile-img">
                <img class="round-image" :src="contacts[currentIndexContact].avatar" alt="">
              </div>

              <div class="profile-spec">
                <h3>{{contacts[currentIndexContact].name}}</h3>
                <p>Ultimo accesso {{contacts[currentIndexContact].messages[2].date}}</p>
              </div>
            </div>
            <!-----fine profilo corrente chat -->


            <div class="settings pe-2">
              <button>
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button>
                <i class="fa-solid fa-paperclip"></i>
              </button>
              <button>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
            </div>
          </section>


          <!--content------------------------------------------------------>
          <section class="main-content">

            <section class="chat-section mt-5 px-5">

              <ul  class="d-flex flex-column align-items-end p-0">

                <li v-for="messages in contacts[currentIndexContact].messages"
                :class="messages.status === 'received' ? 'received' : 'sent'  "
                class="chat-proto mt-3">
                  {{messages.message}}
                  <span class="msg-time">15:30</span>
                </li>

                <!-- <li class="chat-proto received">
                  {{contacts[currentContact].messages[2].message}}
                  <span class="msg-time">15:30</span>
                </li>
                
                <li class="chat-proto sent">
                  {{contacts[currentContact].messages[1].message}}
                  <span class="msg-time">15:30</span>
                </li> -->

              </ul>


            </section>

          </section>

          <!--footer-->
          <section class="main-footer">
            <div class="chat-bar d-flex justify-content-evenly align-items-center text-center">
              <div class="col-1">
                <i class="fa-regular fa-face-smile"></i>
              </div>
              <div class="col-10">
                <input v-model="inputValue" @keyup.enter="addChat()" type="text" class="message-writer form-control" placeholder="Scrivi un messaggio">
              </div>
              <div class="col-1">
                <i class="fa-solid fa-microphone"></i>
              </div>
            </div>
          </section>



        </div>


      </div> <!-- FINE riga per dFLEX-->
    </div> <!-- fine container-->



  </section>










  <script src="./js/app.js"></script>
</body>

</html>